[submodule "include/external/json"]
	path = include/external/json
	url = https://github.com/nlohmann/json.git
[submodule "include/external/implot"]
	path = include/external/implot
	url = https://github.com/epezent/implot.git
